@tailwind base;
@tailwind components;
@tailwind utilities;

a, button {
    text-decoration: none !important;
}

.link {
    display: inline-block;
    position: relative;
}

.link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

/* Icon Animationen */
.pulse:hover {
    animation-name: icon-pulse;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
}

.buzz:hover {
    animation-name: icon-buzz;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.wobblevert:hover {
    animation-name: icon-wobblevert;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.rotateChild>iconify-icon {
    transform: rotate(0deg);
    transition: 0.3s;
}

.rotateChild:hover>iconify-icon {
    transform: rotate(180deg);
}

.rotate {
    transform: rotate(0deg);
    transition: 0.3s;
}

.rotate:hover {
    transform: rotate(180deg);
}

@keyframes icon-buzz {
    10% {
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        transform: translateX(1px) rotate(0);
    }

    100% {
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes icon-wobblevert {
    16.65% {
        transform: translateY(6px);
    }

    33.3% {
        transform: translateY(-5px);
    }

    49.95% {
        transform: translateY(4px);
    }

    66.6% {
        transform: translateY(-2px);
    }

    83.25% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes icon-pulse {
    25% {
        transform: scale(1);
    }

    75% {
        transform: scale(0.85);
    }
}